.bg-cover {
    background-image: url("../images/main-bg-2.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin {
    background-color: rgb(207, 220, 235);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

input {
    margin-bottom: 10px;
}

.carousel-inner .item a img {
    max-width: 25px;
    max-height: 25px;
    margin: auto;
}